<div class="file">
    <a href="profile.html">Profile</a>
</div>                
<div class="file">
    <a href="record.html">Record</a>
</div>        
<div class="file">
    <a href="evidence.html">Evidence</a>
</div>
<div class="file">
    <a href="missions.html">Missions</a>
</div>
<div class="file">
    <a href="accomplices.html">Accomplices</a>
</div>