<div class="file {{#ifEquals active "profile"}}active{{/ifEquals}}"><a href="/profile">Profile</a></div>
<div class="file {{#ifEquals active "record"}}active{{/ifEquals}}"><a href="/record">Record</a></div>
<div class="file {{#ifEquals active "evidence"}}active{{/ifEquals}}"><a href="/evidence">Evidence</a></div>
<div class="file {{#ifEquals active "missions"}}active{{/ifEquals}}"><a href="/missions">Missions</a></div>
<div class="file {{#ifEquals active "accomplices"}}active{{/ifEquals}}"><a href="/accomplices">Accomplices</a></div>
