<img class="suspect-photo" src="/images/me.jpeg" alt="Suspect Photograph">

<img class="map-photo" src="/images/map.png" alt="Boulder Map">

<div class="profile-page">

    <h1 class="classified">SUBJECT</h1>

    <div class="text-line">
        <p class="line-left">LEGAL NAME</p>
        <p class="line-right">Maija L. Grimes</p>
    </div>

    <div class="text-line">
        <p class="line-left">LAST KNOWN LOCATION</p>
        <p class="line-right">Boulder, CO</p>
    </div>

    <div class="text-line">
        <p class="line-left">SPECIALTY</p>
        <p class="line-right">Computer Science & Communication</p>
    </div>

    <div class="text-line">
        <p class="line-left">PERSONALITY TYPE</p>
        <a class="line-right" href="https://www.16personalities.com/infj-personality">
            INFJ
        </a>
    </div>

</div>