#navbar .file {
    background-color: #e7c9a9;
}

#navbar .activefile {
    border-color: black;
    background-color: #e7c9a9;
    border-bottom-color: #e7c9a9;
}

.cover-photo {
    border-color: black;
}

p.cover-photo {
    border-color: rgb(193, 190, 187) ;
    background-color: whitesmoke;
}

button {
    background-color: rgb(193, 190, 187);
    color: black;
    border-color: rgb(82, 82, 82);
}

body.drawer {
    background-color:gray;
}

body {
    background-color: gray;
}

.in-file{
    background-color: #e7c9a9;
}

body .profile-page {
    background-color: #fdf6e3;
}

.record-page {
    background-color: #fdf6e3;
}

.profile-page h1 {
    color: rgb(167, 19, 19);
    background-color:#fdf6e3;
}

h1.classified {
    color: rgb(167, 19, 19);
}

p.line-right {
    color:black;
}

a.line-right {
    color: black;
}

body img {
    border-color: rgb(249, 238, 214);
}

#cover {
    background-color: grey;
}

#navbar {
    color: grey;
    background-color: black;
    border-bottom-color: #e7c9a9;
}

#navbar a {
    color: black;
}
