html, body {
    margin: 0px;
    background-color: #e7c9a9;
    max-width: 100%;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    background-color: #e7c9a9;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><g fill="none" stroke="%23D31303" stroke-width="1.25"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>') 12 12 auto;
}

.paper
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: flex-start;
    aspect-ratio: 8.5 / 11;
    border-style: solid;
}

.in-file{
    background-color: #e7c9a9;
}

p.line-right {
    color:black;
}

.text-line {
    display: grid;
    grid-template-columns: 190px 1fr; /* first column auto-sizes to longest label */
    column-gap: 40px;
    align-items: baseline;
    /* margin-bottom: 8px; */
    letter-spacing: 0.05em; /* subtle spaced letters */
    transform: rotate(-0.2deg);
    margin-bottom: 0;
    line-height: 1.05;
}

.line-left {
    font-weight: bold;
    text-transform: uppercase;
    color: #222;    
    border-bottom: 1px dotted black;
}

.line-right {
    padding-bottom: 2px;
    color: #111;    
    font-family: "Courier New", Courier, monospace; /* classic typewriter font */
}

.line-right,
.line-left {
    filter: contrast(95%) brightness(98%); /* faded ink look */
}

a.line-right {
    text-decoration: none;
    color: black;
}

button {
    height: 30px;
    width: 250px;
    border-style: solid;
    margin-bottom: 250px;    
    cursor: grab;
}

.hidden {
    display: none;
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}

.polaroid
{
    width: 17%;
    position: absolute;
    box-shadow: 1px 2px 2px 3px rgb(91, 88, 84);
}

.hoverable
{
    transform: rotate(var(--r));
    transition: transform 0.3s ease-in-out;
}

.hoverable:hover
{
    transform: scale(1.1); 
}

.texture
{
    position: absolute;
    box-shadow: 0 0 0 0 rgb(91, 88, 84);
}