body {
    margin: 0px;
    background-color: gray;
}

.in-file{
    background-color: #e7c9a9;
}

p.line-right {
    color:black;
}

.text-line {
    display: grid;
    grid-template-columns: 190px 1fr; /* first column auto-sizes to longest label */
    column-gap: 40px;
    align-items: baseline;
    /* margin-bottom: 8px; */
    letter-spacing: 0.05em; /* subtle spaced letters */
    transform: rotate(-0.2deg);
    margin-bottom: 0;
    line-height: 1.05;
}

.line-left {
    font-weight: bold;
    text-transform: uppercase;
    color: #222;    
    border-bottom: 1px dotted black;
}

.line-right {
    padding-bottom: 2px;
    color: #111;    
    font-family: "Courier New", Courier, monospace; /* classic typewriter font */
}

.line-right,
.line-left {
    filter: contrast(95%) brightness(98%); /* faded ink look */
}

a.line-right {
    text-decoration: none;
    color: black;
}

button {
    height: 30px;
    width: 250px;
    border-style: solid;
    margin-bottom: 250px;    
    cursor: grab;
}

.hidden {
    display: none;
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}

img 
{
    border-style: solid;
    border-width: 15px;
    border-bottom-width: 60px;
    border-radius: 1%;
    border-color: linen;
    width: 30%;
    filter: sepia(60%) grayscale(40%) blur(0.02rem);
    position: absolute;
}