#cover {
    transition: transform 1.1s ease;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-style: solid; */
    position: static;
    background-color: grey;
}

/* Parent that holds both nav and cover */
#drawer-container {
    position: relative;
    overflow: hidden;
}

.cover-photo {
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(107, 105, 105);
    border-color: black;
}

button {
    background-color: rgb(193, 190, 187);
    color: black;
    border-color: rgb(82, 82, 82);
}

body.drawer {
    background-color:gray;
}

p.cover-photo {
    border-style: inset;
    border-width: 15px;
    padding: 50px;
    margin: 100px;
    border-color: rgb(193, 190, 187) ;
    background-color: whitesmoke;
}