.cover {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
}

/* Parent that holds both nav and cover
#drawer-container {
    position: relative;
    overflow: hidden;
} */

.cover-photo {
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(107, 105, 105);
    border-color: black;
}

button {
    background-color: rgb(193, 190, 187);
    color: black;
    border-color: rgb(82, 82, 82);
}

body.drawer {
    background-color:gray;
}

p.cover-photo {
    border-style: inset;
    border-width: 15px;
    padding: 50px;
    margin: 100px;
    border-color: rgb(193, 190, 187) ;
    background-color: whitesmoke;
}

h1.cover
{
    width: 20%;
    text-align: center;
    position: absolute;
    top: 20%;
}

.cover .line-right
{
    color: darkred; 
    margin: 0; 
    /*transform: rotate(2.3deg); */
    font-weight: 600; 
    font-family: Special Elite, system-ui;  
    font-size: large;
    padding: 0;
}

.cover .text-line
{
    margin: 5px;
    width:max-content
}