#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    /* border-bottom-style: solid;
    border-bottom-width: 20px; */
    /*overflow: hidden;*/
    transition: transform 1.1s ease;
    z-index: 1000;
    color: black;
    background-color: black;
    border-bottom-color: #e7c9a9;
}

#navbar .file {
    background-color: #e7c9a9;
    flex: 1 1 120px;   
    border-style: solid;
    border-color: black;
    border-radius: 10px; 
    border-bottom-style: solid;    
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin: 10px; 
    margin-top: 20px;
    margin-bottom: 0px;  
    padding: 12px;
}

#navbar .activefile
{
    background-color: #e7c9a9;
    border-bottom-color: #e7c9a9;
    flex: 1 1 120px;  
    border-style: solid;
    border-radius: 10px; 
    margin: 10px; 
    margin-top: 20px;
    margin-bottom: 0px;  
    padding: 12px;    
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#navbar a {
    text-decoration: none;
    color: black;
}