.profile-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-items: flex-start;
    align-items: flex-start;
    align-content: space-between;
    margin: 8%;  
    padding: 5%;
    aspect-ratio: 8.5 / 11;
    /*width: 8.5in;*/
    width: 60%;
    /*max-height: 11in;*/
    position: absolute;
    border-style: solid;
    box-shadow: 2px 2px 3px rgb(91, 88, 84);
}

body .profile-page {
    background-color: #fdf6e3;
}

.profile-page h1{

    font-weight: 700;
    z-index: 9999;
    color: black;
    background-color:#fdf6e3;
}

img.map-photo {
    z-index: 3; /* lowest layer */
    position: absolute;
    top: 80%;
    width: 40%;
    left: 40px;
    transform: rotate(-2deg);
    border: 20px solid rgb(245, 240, 220);
    box-shadow: 5px 5px 4px rgb(91, 88, 84);
}

img.tape1 {
    z-index: 6;
    position: absolute;
    top: 350px;
    right: 250px;
    width: 23%;
    transform: rotate(30deg);
}