.record-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-items: flex-start;
    /* align-items: flex-start;
    align-content: space-between; */
    margin: auto;
    margin-top: 50px; 
    padding: 40px;  
    border-style: solid;
    box-shadow: 2px 2px 3px rgb(91, 88, 84);
    transform: rotate(.5deg);
    border-top-left-radius: 1%;
    position: relative; /* establish stacking context */
    aspect-ratio: 8.5 / 11;
    max-width: 8.5in;
    max-height: 11in;
    background-color: #fdf6e3;
}

h1.classified {
    position: absolute; 
    z-index: 10; /* very high to appear above all images and content */
    top: 18%;
    left: 60%;
    font-size: clamp(1.5rem, 3vw, 3rem);
    transform: rotate(5deg);
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 10px;
    padding-bottom: 0px;
    border-width: 3px;
    border-radius: 4%;
    color: rgb(167, 19, 19);
}

li
{
    padding: 5px 0;
}