/* DEFAULTS */

    :root 
    {
        --font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    }

    body 
    {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0; 
    }

    h1 
    {
    font-weight: 700;
    margin-bottom: 10px;
    }

    h2 
    {
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 26.4px;
    margin-bottom: 10px;
    }

    main 
    {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    }

    footer 
    {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    width: 100%;
    }

/* LINKS */

    a:hover 
    {
        text-decoration: wavy;
    } 

/* BUTTONS */

    .button-image 
    {
    width: 100%;
    }

/* NAV BAR */

    .navbar 
    {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 17px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
    }

    .navbar-text 
    {
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        color: black;
    }

    .navbar img 
    {
    height: 90px;
    margin: 0;
    }

    .body-image 
    {
    height: 500px;
    }

/* FLEX BOXES */

    #container
    {
        display: flex;
        flex-direction: column;
    }

    #hobby-container
    {
        display: flex;
        flex-direction: row;
    }

    .text-container 
    {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
    width: 40%;
    }

    .card
    {
        padding: 20px;
        border-radius: 10px;
        box-shadow: black;
        max-height: 20%;
    }

    .card-image
    {
        width: 20%;
    }

    .card:hover
    {
        transform: scale(1.02);
    }