<body>
    <main>
        <h1 style="font-family: Futura, 'Trebuchet MS', Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; padding-left: 20px;">Some of my interests include...</h1>
        <div id="hobbies">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" id="hobby-card-1">
                        <div class="card-body">
                            <img class="card-image" src="../resources/img/hiking.jpeg" alt="Hiking" height="290px">
                            <h5 class="card-title">Going on Hikes</h5>
                            <p class="card-text" style="text-align: center;">I love going on hikes, either solo or with friends, because it gives me a chance to appreciate nature and spend some time away from the screens.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" id="hobby-card-2">
                        <div class="card-body">
                            <img class="card-image" src="../resources/img/concerts.jpeg" alt="Concerts" height="290px">
                            <h5 class="card-title">Going to Concerts</h5>
                            <p class="card-text" style="text-align: center;">I love going to concerts because it's so cool to see your favorite artists live and get to support them, and I love listening to music and dancing with my friends.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" id="hobby-card-3">
                        <div class="card-body">
                            <img class="card-image" src="../resources/img/football.jpeg" alt="Football" height="290px">
                            <h5 class="card-title">Going to Football Games</h5>
                            <p class="card-text" style="text-align: center;">I love going to football games because it's super fun to support a team and come together with other fans.  I love the energy at football games.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>