<body>
<main>
    <img id="self-image" class="body-image" src="/resources/images/maija + jinx.jpeg" height="500" alt="Maija and Jinx">
    <div id="self-desc" class="text-container">
        <h1>All About Me</h1>
        <h2>Maija Lei Grimes</h2>
        <p>Hello world! &nbsp;I'm Maija and this is my sweet, scaredy-cat, Jinx. <br>
        I am obviously an animal-lover, but I'm also a stressed-out Computer Science nerd,
        a very serious (self proclaimed) coffee connoiseur, a ride-or-die Buffaloes fan,
        a typical 20 year old girl, and so much more.</p>
        <p>As most ~aspiring~ software developers do, I spend most of my days buried in my laptop.
        However, when I occasionally find time to pry my eyes away from the bluelight I also enjoy
        hanging out with friends, hiking, listening to music, photography, and bingeing 90's sitcoms. <br>
        (Find more about my interests on my Hobbies page!)
        </p>
        <p>I'm currently in my 3rd year pursuing a degree in Computer Science here at CU.  I fell in love
        with coding during highschool and have learned so much since then. Check out my <a href="../views/pages/home.hbs">resume</a> for more
        on my CS experience!
        </p>
    </div>
</main>
</body>